html 
{
    background-color: rgba(135, 133, 129, 1);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("Images/Background.png");
    background-size: cover;
    background-repeat:no-repeat;
}

header
{
  background-color:rgba(252,48,60,1);
}

footer
{
  background-color:rgba(252,48,60,1);
}
body {
    font-family: Arial;
    height: 2000px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("Images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

p
{
  font-size: 12pt;
  line-height: 1.4em;
}

a
{
  text-decoration: none;
  color: black;
}

li
{
  line-height: 1.4em;
}

div.Option_Menu {
    background-color: white;
    color: black;
    font-size: 16pt;
    height: 100px;
    vertical-align: middle;
    resize: both;
    overflow: visible;
    text-align: center;
}

img.Logo_Web {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 50px;
}

#Navigation {
    width: 1100px;
    height:50px;
    padding:25px;
    margin: 0px auto;
}

    #Navigation ul {
        list-style-type: none;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        text-align: center;
    }

    #Navigation li {
        width: 200px;
        float: left;
        margin-top: 5px;
    }

#Navigation a
{
    display:block;
    width:200px;
    height:40px;
    line-height:40px;

}

#link_1 {
    background-image: url(Images/spriteSheet.png);
    background-position: -47px -84px;
}
#link_2 {
    background-image: url(Images/spriteSheet.png);
    background-position: -247px -84px;
}
#link_3 {
    background-image: url(Images/spriteSheet.png);
    background-position: -447px -84px;
}
#link_4 {
    background-image: url(Images/spriteSheet.png);
    background-position: -647px -84px;
}
#link_5 {
    background-image: url(Images/spriteSheet.png);
    background-position: -847px -84px;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    background-color: rgba(252,48,60,1);
    margin:0px;
    padding: 0;
}

div.Portada {
    width: 1500px;
    height: 600px;
    background: url(Images/Portada.jpg) 0px -100px;
    background-size:1400px;
    background-repeat: no-repeat;
    top:0;
	left:0;
}

div.Menu_Portada
{
    position:relative;
    display:block;
    background-color:black;
    width:700px;
    height:500px;
    margin:0 auto;
    right:5%;
    top:10%;
}

#Info {
    background: url(Images/spriteSheet.png);
    background-position:-20px -464px;
    height:670px;
    width:1359px;
    margin-top:50px;
    margin-left:20px;
    color:white;
}

#Column_1
{
    float:left;
    width:330px;
    min-height:350px;
    margin-left:10px;
}
#Column_2 {
    float: left;
    width: 330px;
    min-height: 350px;
    margin-left:10px;
}
#Column_3 {
    float: right;
    width: 330px;
    min-height: 350px;
    margin-right:10px;
}
#Column_4 {
    float: right;
    width: 330px;
    min-height: 350px;
}

#Image_1 {
    background: url(Images/spriteSheet.png);
    background-position: -20px -464px;
    height: 225px;
    width: 225px;
    margin-left: 53px;
    margin-bottom: 50px;
}

#Image_2 {
    background: url(Images/spriteSheet.png);
    background-position: -20px -464px;
    height: 225px;
    width: 225px;
    margin-left: 53px;
    margin-bottom: 50px;
}

#Image_3 {
    background: url(Images/spriteSheet.png);
    background-position: -20px -464px;
    height: 225px;
    width: 225px;
    margin-left: 53px;
    margin-bottom: 50px;
}

#Image_4 {
    background: url(Images/spriteSheet.png);
    background-position: -20px -464px;
    height: 225px;
    width: 225px;
    margin-left: 53px;
    margin-bottom: 50px;
}

a.button_test:active {
    background-image: url("Images/button_1.png");
}
a.button_test:active
{
  background-image: url("Images/button_1.png");
}

