html
{
    background-color: rgba(135, 133, 129, 1);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("Images/Background.png");
    background-size: cover;
    background-repeat:no-repeat;
}

header {

    background-color: black;
}


body {
    font-family: Arial;
    height: 1770px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("Images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}

p
{
  font-size: 12pt;
  line-height: 1.4em;
}

a
{
  text-decoration: none;
  color: black;
}

li
{
  line-height: 1.4em;
}

div.Option_Menu {
    background-color: white;
    color: black;
    font-size: 16pt;
    height: 100px;
    vertical-align: middle;
    resize: both;
    overflow: visible;
    text-align: center;
}

img.Logo_Web {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 50px;
}

#Navigation {
    width: 1100px;
    height:50px;
    padding:25px;
    margin: 0px auto;
}

    #Navigation ul {
        list-style-type: none;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        text-align: center;
    }

    #Navigation li {
        width: 200px;
        float: left;
        margin-top: 5px;
    }

#Navigation a
{
    display:block;
    width:200px;
    height:40px;
    line-height:40px;

}

#link_1 {
    background-image: url(Images/spriteSheet.png);
    background-position: -47px -84px;
}
#link_2 {
    background-image: url(Images/spriteSheet.png);
    background-position: -247px -84px;
}
#link_3 {
    background-image: url(Images/spriteSheet.png);
    background-position: -447px -84px;
}
#link_4 {
    background-image: url(Images/spriteSheet.png);
    background-position: -647px -84px;
}
#link_5 {
    background-image: url(Images/spriteSheet.png);
    background-position: -847px -84px;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    background-color: rgba(252,48,60,1);
    margin:0px;
    padding: 0;
}

div.Portada {
    width: 1500px;
    height: 600px;
    background: url(Images/Portada.jpg) 0px -100px;
    background-size:1400px;
    background-repeat: no-repeat;
    top:0;
	left:0;
}

div.Menu_Portada
{
    position:relative;
    display:block;
    background-color:black;
    width:700px;
    height:500px;
    margin:0 auto;
    right:5%;
    top:10%;
}

#Info {
    background: url(Images/spriteSheet.png);
    background-position: -20px -464px;
    height: 500px;
    width: 1359px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    color: white;
}

#Column_1
{
    float:left;
    width:250px;
    min-height:100px;
    margin-left:50px;
}
#Column_2 {
    float: left;
    width: 250px;
    min-height: 100px;
    margin-left: 75px;
}
#Column_3 {
    float: left;
    width: 250px;
    min-height: 100px;
    margin-left:75px;
}
#Column_4 {
    float: left;
    width: 250px;
    min-height: 100px;
    margin-left: 75px;
}

p.Info_titles
{
    text-align:center;
}

#Image_1 {
    background: url(Images/spriteSheet.png);
    background-position: -545px -190px;
    height: 225px;
    width: 225px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
  }

#Image_1 a{
  padding-bottom: 225px;
  padding-right: 225px;
}

#Image_2 {
    background: url(Images/spriteSheet.png);
    background-position: -840px -191px;
    height: 225px;
    width: 225px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
}

#Image_2 a{
  padding-bottom: 225px;
  padding-right: 225px;
}

#Image_3 {
    background: url(Images/spriteSheet.png);
    background-position: -283px -190px;
    height: 225px;
    width: 225px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
}

#Image_3 a{
  padding-bottom: 225px;
  padding-right: 225px;
}

#Image_4 {
    background: url(Images/spriteSheet.png);
    background-position: -13px -181px;
    height: 225px;
    width: 225px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
}

#Image_4 a
{
  padding-bottom: 225px;
  padding-right: 225px;
}

div.Footer {
    width: 1500px;
    height: 400px;
    background: url(Images/Portada_2.jpg) 0px -100px;
    background-size: 1400px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

div.Red_Box {
    display: block;
    position: relative;
    width: 850px;
    height: 300px;
    background-color: rgba(252,48,60,0.8);
    margin: 0 auto;
    right:3%;
    top:50px;
}

.The_Image
{
  display: block;
  position: relative;
  float: left;
  left:30px;
  top:70px;
}

.Box_Text
{
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  float:right;
  right: 70px;
  color: white;
}

#P1{
  text-align: center;
  font-size: 20pt;
}

#P2{
  font-size: 16pt;
  margin-left: 30px;
}

div.Link_contact
{
  border-radius: 25px;
  border: 2px solid white;
  width:100px;
  text-align: center;
  vertical-align: middle;
  margin-left: 30px;
  padding: 10px;

}

#Contacta_Button
{
  color: white;
  font-size: 16pt;
}


a.button_test:active {
    background-image: url("Images/button_1.png");
}
a.button_test:active
{
  background-image: url("Images/button_1.png");
}

footer
{
    background-color:black;
    height:40px;
}

.Footer_left {
    color: white;
    margin:10px;
    background-color: transparent;
    width: 80%;
    float: left;
}

.Footer_right {
    color: white;
    margin: 10px;
    background-color: transparent;
    width: 10%;
    float: right;
}
